<link rel="import" href="../../../packages/polymer/polymer.html">

<polymer-element name="child-el">

    <template>

        <div class="container">

            <span class="duration decale">myText</span>

        </div>


    </template>
    <script type="application/dart" src="child_el.dart"></script>
</polymer-element>
