<link rel="import" href="../../../packages/polymer/polymer.html">
<link rel="import" href="../../../packages/core_elements/core_list_dart.html">
<link rel="import" href="../../../packages/paper_elements/paper_button.html">
<link rel="import" href="../../../packages/paper_elements/paper_action_dialog.html">
<link rel="import" href="../../../packages/paper_elements/paper_input.html">


<polymer-element name="exercise-list">

    <template>
        <style>
            :host {
                display: block;
            }

            core-list-dart {
                height: 500px;
            }
        </style>
        <core-list-dart data="{{data}}">
            <template>
                <div index="{{index}}">
                    <div index="{{index}}" on-click="{{showModal}}">{{model.name}}</div>
                    <paper-action-dialog heading="edit exercise: {{model.name}}" backdrop autoCloseDisabled>
                        <paper-input label="name" floatingLabel></paper-input>

                        <paper-button dismissive>Cancel</paper-button>
                        <paper-button on-click="{{updateExercise}}" data-ex-id="{{index}}" affirmative>Ok</paper-button>
                    </paper-action-dialog>
                </div>
            </template>
        </core-list-dart>

    </template>
    <script type="application/dart" src="exercise_list.dart"></script>
</polymer-element>
