<link rel="import" href="../../../packages/polymer/polymer.html">
<link rel="import" href="../../lib/elements/child_el.html">

<polymer-element name="parent-el">


    <template>


        <style>
            :host /deep/ .decale {
                -webkit-animation-name: decale;
                animation-name: decale;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }

            @-webkit-keyframes decale {
                0% {
                    left: 0px;
                }
                100% {
                    left: -40px;
                }
            }

            @keyframes decale {
                0% {
                    left: 0px;
                }
                100% {
                    left: -40px;
                }
            }

            :host /deep/  .duration {
                -webkit-animation-duration: 1s;
            }

            :host /deep/ .container {
                position: relative;
                width: 50px;
                height: 50px;
            }

            :host /deep/ .container span {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: red;
            }


        </style>


        <child-el></child-el>

    </template>
    <script type="application/dart" src="parent_el.dart"></script>
</polymer-element>
