<!--
  Copyright (c) 2014, <your name>. All rights reserved. Use of this source code
  is governed by a BSD-style license that can be found in the LICENSE file.
-->

<!-- import polymer-element's definition -->
<link rel="import" href="../../packages/polymer/polymer.html">
<link rel="import" href="elements/child_el.html">

<polymer-element name="main-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <child-el></child-el>

  </template>
  <script type="application/dart" src="main_app.dart"></script>
</polymer-element>
